@use "@angular/material" as mat;
@use "../project/project-page/project-page-theme" as project-page-component;

$black-and-white-palette: 
( 
    0: #FFFFFF,
    50: #FBFBFB, 
    100: #F2F2F2, 
    200: #E9E9E9, 
    300: #D9D9D9,
    400: #B5B5B5,
    500: #959595,
    600: #6D6D6D,
    700: #595959,
    800: #3B3B3B,
    900: #1B1B1B,
    contrast: 
    (
        0: #000000,
        50: #000000,  // Black (#000) as contrast for the lightest color
        100: #000000,
        200: #000000,
        300: #000000,
        400: #FFFFFF,  // White (#FFF) as contrast for the darker colors
        500: #FFFFFF,
        600: #FFFFFF,
        700: #FFFFFF,
        800: #FFFFFF,
        900: #FFFFFF
    )  
);

$light-primary: mat.define-palette($black-and-white-palette, 300, 100, 300, 900);
$light-accent: mat.define-palette($black-and-white-palette, 100, 300, 900);
$light-theme: mat.define-light-theme((
    color: (
        primary: $light-primary,
        accent: $light-accent
    ),
    desnity: 0
));

@include mat.core();
@include mat.all-component-themes($light-theme);
@include project-page-component.theme($light-theme);