<div class="project-page">
    <h2 class="page-title">Project</h2>
    <div>
        <div class="project-header">
            <h2 class="project-title">Projects</h2>
            <button id="new-project" 
                color="primary" 
                mat-flat-button
                (click)="onNewProjectClick()">
                <mat-icon>add</mat-icon>
                <span>NEW</span>
            </button>
        </div>
        <mat-divider></mat-divider>
    </div>
    <div>
        <mat-list>
            <mat-list-item 
                *ngFor="let project of projects;"
                mat-ripple
                (click)="onProjectClick(project)">
                <div class="project-item-container">
                    <div class="project-item-icon">
                        <mat-icon>{{ project.icon }}</mat-icon>
                    </div>
                    <div class="project-item-title" 
                        [ngClass]="project.tags.length > 0 ? 'single-row' : 'double-row'">
                        {{ project.name }}
                    </div>
                    <div *ngIf="project.tags.length > 0" 
                        class="project-item-tag">
                        <mat-chip-set
                            color="primary">
                            <mat-chip 
                                *ngFor="let tag of project.tags"
                                color="primary">{{ tag.name }}</mat-chip>
                        </mat-chip-set>
                    </div>
                    <div class="project-item-setting" 
                        stopClickPropagation
                        (click)="onProjectSettingClick($event)">
                        <div mat-ripple class="icon-container">
                            <mat-icon id="project-setting-icon">more_vert</mat-icon>
                        </div>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
</div>